 @charset "UTF-8"
 *{
    font-family: 'Times New Roman', Times, serif;
 }

 body{
    background-color: aquamarine;
        font-family: Arial, Helvetica, sans-serif;
            /*
            Medidas Absolutas
            cm, mm, in, px, pt, pc

            Medidas Relativas
            em, ex, rem, vw, vh, %
            16px geralmente = 1em
            */
        font-size: 1em;
 }
